<div class="container-fluid nav-collapse">
              <ul class="nav">
             <% if jobseeker_signed_in? %>
             <li><%= link_to "Home", root_path %></li>
           <li> <%= link_to "Sign out", destroy_jobseeker_session_path, :method => :delete %></li>
            <% else %>
             <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Sign in", new_jobseeker_session_path %>
            <% end %>
             </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>

