<div class="center hero-unit">
  <h1>Odd Jobs</h1>
  
  <h2>
   Are you looking for on call or part-time job.?
  </h2>

<%= link_to "Sign Up Here!", "jobseekers/sign_up/", :class => "btn btn-large btn-primary" %>
</div>

